/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Mono", sans-serif;
  /* height: 100%; */
}




/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul, ol {
  list-style: none;
}

hr {
  width: 100%;
  opacity: 0.2;
  color: white;
  margin-inline: auto;
  margin-top: 8px;
}

a {
  text-decoration: none;
}


/* css reset end */

/* checkbox */
.toggle-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  z-index: 2;
  display: none;
  width: 100%;
}

.checkbox {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  
}

.logo {
  display: flex;
  gap: 16px;
}

.logo img {
  width: 24px;
  height: 24px;
  
}

/* checkbox end */


/* .container-top {
  position: relative;
  width: 100%;
} */


/* Header */
.nav-desktop {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.hamburger-icon {
  width: 46px;
  padding-block: 16px;
  padding-right: 16px;
}


.nav-desktop a {
  color: white;
}
.header-desktop {
  display: none;
}

.hamburger .nav-mobile {
  display: none;
}

.hamburger .toggle-btn:checked ~ .nav-mobile {
  display: block;
}

.header-mobile {
  position: sticky;
  top: 0;
  width: 100%;
  color: white;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  padding-inline: 16px;
  background-color: black;
  padding-block: 16px;
  align-items: center;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  width: 100%;
  padding: 16px;
  animation: slide 0.5s ease-in-out;
}

@keyframes slide {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0);
  }
}


.nav-mobile li {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
  font-style: italic;
}


.nav-mobile ul {
  padding: 48px;
}

.logo img {
  width: 24px;
  height: 24px;
  z-index: 11;
}


.header-mobile a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  z-index: 10;
}



/* carousel area */

.carousel {
  position: relative;
}


.carousel-images img {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
  position: relative;
}


.carousel-text {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 25%;
  margin-inline: 16px;
  font-size: 18px;
  overflow: hidden;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 500;
  transform: translateX(-100px);
  animation: slideDown 1s ease-out forwards; 
}

.carousel-text2 {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 60%;
  margin-left: 160px;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  transform: translateX(200px);
  animation: slideIn 1s ease-out forwards; 
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}


.carousel-images :nth-child(2) p {
  color: white;
}

/* about area */
.content {
  margin-top: 40px;
  padding-inline: 16px;
} 

.my-pic {
  margin-block: 24px;
  border-radius: 50%;
  opacity: 0; 
  transform: translateY(-100px);
  transition: all 1s ease-out;
}

.about {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 24px;
}

h3 {
  text-align: center;
  color:rgb(34, 31, 31);
  padding-top: 16px;
}

.about p {
  font-size: 14px;
  color: rgb(63, 54, 54);
  margin-block: 24px;
}

.my-pic {
  width: 200px;
  height: 200px;
  margin-inline: auto;
}

.blue-color {
  color: rgb(98, 98, 214);
}

.about a:not(.blue-color) {
  color: rgb(14, 190, 14);
}
/* about area end */

/* certificate area */

.certificate-area {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  margin-bottom: 24px;
}

.certificate-area p {
  font-size: 12px;
  color: rgb(124, 112, 112);
}
.certificate-area h4 {
  text-align: center;
  color: rgb(34, 31, 31);
  font-size: 20px;
  margin-block: 8px;
}

/* project area */

.project-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;

}

.project img {
  width: 100%; 
  object-fit: cover;
  border-radius: 8px; 
}

.project-name {
  font-size: 24px;
  text-align: left;
  margin-bottom: 24px;
}

.project-area h4 {
  text-align: center;
  color: rgb(34, 31, 31);
  font-size: 20px;
  margin-block: 8px;
}

.project {
  cursor: pointer;
  justify-items: center;
  padding-block: 16px;
  background-color: rgb(240, 239, 244);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

/* tags */
.tags {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-block: 16px;
}

.html-tag {
  color: rgba(209, 139, 9, 0.945);
  border: 1px solid rgba(192, 189, 184, 0.945);
  padding: 2px;
  box-shadow:  0 0 4px 0 rgba(109, 107, 107, 0.945);
}

.css-tag {
  color: rgb(21, 226, 21);
  padding: 2px;
  border: solid 1px rgb(192, 189, 184);
  box-shadow:  0 0 4px 0 rgba(109, 107, 107, 0.945);
}

.js-tag {
  color: rgb(98, 98, 214);
  padding: 2px;
  border: solid 1px rgb(192, 189, 184);
  box-shadow:  0 0 4px 0 rgba(109, 107, 107, 0.945);
}


.project p {
  text-align: center;
  padding: 16px;
 }

.icon-area img {
  width: 24px;
  height: 24px;
}

.icon {
  height: 24px;
  width: 24px;
}

.flex {
  display: inline-flex;
  gap: 40px;
  margin-block: 16px;
}

.flex img {
  width: 24px;
  height: 24px;
}

.more-projects {
  display: flex;
  align-items: center;
  margin-block: 10px;

}

.more-projects img {
  width: 24px;
  height: 24px;
}

.more-projects a {
  display: block;
  color: rgb(34, 33, 33);
  border-radius: 16px;
  margin-block: 16px;
  text-decoration: underline;
  font-style: italic;

}

/* project area end */

/* troll area */

.troll-area {
  text-align: center;
  margin-block: 72px;
  position: relative;
} 

.troll-area h6 {
  font-size: 18px;
  color:rgb(63, 54, 54);
}

.hearts {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}
.hearts .heart {
  position: absolute;
  list-style: none;
  width: 32px;
  height: 32px;
  margin: 0px;
  opacity: 0; /* İlk başta görünmez */
  animation-fill-mode: forwards;
}

.hearts .heart:after {
  position: absolute;
  content: "?";
  color:rgb(0, 0, 0);

  width:32px;
  height:32px;
  display:inline-block;
  border-radius:100%;
  font-size:30px;
  text-align:center;
  text-decoration:none;
  line-height: 32px;
}

.hearts.flying > .heart:nth-child(even) {
  -webkit-animation: 3.8s flyingEven linear infinite;
  -moz-animation: 2.8s flyingEven linear infinite;
  animation: 2.8s flyingEven linear infinite;
}
.hearts.flying > .heart:nth-child(odd) {
  -webkit-animation: 3.8s flyingOdd linear infinite;
  -moz-animation: 2.8s flyingOdd linear infinite;
  animation: 2.8s flyingOdd linear infinite;
}
.hearts.flying > .heart:nth-child(1) {
  animation-delay: 0.7s;
}
.hearts.flying > .heart:nth-child(2) {
  animation-delay: 0.8s;
}
.hearts.flying > .heart:nth-child(3) {
  animation-delay: 0.6s;
}
.hearts.flying > .heart:nth-child(4) {
  animation-delay: 1.5s;
}
.hearts.flying > .heart:nth-child(5) {
  animation-delay: 2.2s;
}
.hearts.flying > .heart:nth-child(6) {
  animation-delay: 2.9s;
}
.hearts.flying > .heart:nth-child(7) {
  animation-delay: 3.2s;
}
.hearts.flying > .heart:nth-child(8) {
  animation-delay: 3.5s;
}
.hearts.flying > .heart:nth-child(9) {
  animation-delay: 3.8s;
}
.hearts.flying > .heart:nth-child(10) {
  animation-delay: 4.1s;
}
.hearts.flying > .heart:nth-child(11) {
  animation-delay: 4.5s;
}
.hearts.flying > .heart:nth-child(12) {
  animation-delay: 8s;
}
@-moz-keyframes flyingEven {
  0% {
    transform: translate(5px, 10px) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(0px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}
@-webkit-keyframes flyingEven {
  0% {
    transform: translate(5px, 10px) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(0px, -480px) scale(1.5);
    opacity: 0;
    filter: blur(5px);
  }
}
@keyframes flyingEven {
  0% {
    transform: translate(5px, 10px) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(0px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}
@-moz-keyframes flyingOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(-60px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}
@-webkit-keyframes flyingOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(-60px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}
@keyframes flyingOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(-60px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}

.troll-area button {
  padding: 8px;
  margin-top: 8px;
  font-weight: bolder;
}

/* troll area end */

/* resume area */

.resume-area {
  position: relative;
  background: url('../images/resume-img.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
  height: 40vh;
}

.resume-area h2 {
  color: midnightblue;
}

.resume-area a {
  color: rgb(17, 4, 204);
  padding: 8px;
  border: 2px solid rgb(20, 0, 107);
}

/* resume area  end*/

/* footer */

footer {
  margin-block: -16px;
  background-color: rgb(34, 32, 32);
  color: white;
  text-align: center;
  padding: 16px;
}

.upper-footer{
  padding-block: 24px;

}

.upper-footer img {
  width: 24px;
  height: 24px;
}

.upper-footer p {
  font-size: 14px;
  color: gray;
}

.mail {
  display: flex;
  gap: 8px;
}

.phone {
  display: flex;
  gap: 8px;
  margin-block: 20px;
}
.icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.upper-footer span {
  color: gray;
  font-size: 16px;
}

.copyright {
  display: inline-block;
  font-size: 20px;
  animation: rotateY 3s infinite linear;
  transform-origin: center;
}

@keyframes rotateY {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
/* footer end */


/* media queries */

@media(width >= 768px) {

  /* .container-top {
    padding-inline: 40px;
  } */

  /* .content {
    padding-inline: 40px;
  } */

  .certificate-area {
    margin-inline: 64px;
  }
  
  
  .project-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .project {
    padding: 24px;
  }

  .project img {
    height: 250px;
    object-fit: contain;
    display: block;
  }


  .flex img {
    width: 24px;
    height: 24px;
  }

}


@media (width >= 1440px) {

  .header-mobile {
    display: none;
  }

  .header-desktop {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color:transparent;
    z-index: 99999;
    width: 100%;
    margin-top: 24px;
    padding-inline: 40px;
  }

  .logo a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    z-index: 10;
  }
  
  .header-desktop ul {
    display: flex;
    gap: 24px;
  }

  .header-desktop li {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    color: white;
  }

  .carousel-text {
    font-size: 40px;
  }


  .carousel-text2 {
    font-size: 40px;
    margin-left: 900px;
  }

  .content {
    padding-inline: 80px;
  }

  .about {
    margin-inline: 100px;
  }

  h3 {
    font-size: 24px;
  }

  .about p {
    font-size: 20px;
    margin-inline: 140px;
    line-height: 28px;
  }

  .certificate-area {
    margin-inline: 100px;
    margin-block: 100px;
  }

  .certificate-area h3 {
    font-size: 24px;
  }

  .certificate-area p {
    font-size: 18px;
  }

  .troll-area img {
    height: 300px;
    width: 400px;
  }

  .troll-area h6 {
    font-size: 26px;
    color:rgb(63, 54, 54);
  }

  .project-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .project {
    height: auto; 
    padding: 16px; 
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  }

  .more-projects a {
    font-size: 24px;
  }


  .resume-area h2 {
    font-size: 40px;
  }

  .resume-area a {
    font-size: 24px;
  }

  .upper-footer p {
    font-size: 18px;
  }

  .upper-footer img {
    width: 40px;
    height: 40px;
  }

  .mail p {
    font-size: 18px;
    align-items: center;
  }
  .phone p {
    font-size: 28px;
  }

  .copyright {
    font-size: 24px;
  }

  .upper-footer span {
    font-size: 22px;
  }
}


@media (width >= 1900px) {
    .carousel-text2 {
    margin-left: 1400px;
  }
}

