/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Mono", sans-serif;
  /* height: 100%; */
}




/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul, ol {
  list-style: none;
}

hr {
  width: 100%;
  opacity: 0.2;
  color: white;
  margin-inline: auto;
  margin-top: 8px;
}

a {
  text-decoration: none;
}


/* css reset end */

/* checkbox */
.toggle-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  z-index: 2;
  display: none;
  width: 100%;
}

.checkbox {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  
}

.logo {
  display: flex;
  gap: 16px;
}

.logo img {
  width: 24px;
  height: 24px;
  
}

/* checkbox end */


.container-top {
  position: relative;
  width: 100%;
}


/* Header */
.nav-desktop {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.hamburger-icon {
  width: 46px;
  padding-block: 16px;
  padding-right: 16px;
}


.nav-desktop a {
  color: white;
}
.header-desktop {
  display: none;
}

.hamburger .nav-mobile {
  display: none;
}

.hamburger .toggle-btn:checked ~ .nav-mobile {
  display: block;
}

.header-mobile {
  position: sticky;
  top: 0;
  width: 100%;
  color: white;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  padding-inline: 16px;
  background-color: black;
  padding-block: 16px;
  align-items: center;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  width: 100%;
  padding: 16px;
  animation: slide 0.5s ease-in-out;
}

@keyframes slide {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0);
  }
}


.nav-mobile li {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
  font-style: italic;
}


.nav-mobile ul {
  padding: 48px;
}

.logo img {
  width: 24px;
  height: 24px;
  z-index: 11;
}


.header-mobile a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  z-index: 10;
}



/* carousel area */


.carousel-images img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

/* about area */
.content {
  margin-top: 40px;
  padding-inline: 16px;
} 

.my-pic {
  border-radius: 50%;
  opacity: 0; 
  transform: translateY(-100px); /* Aşağıya kaydır */
  transition: all 1s ease-out; /* Animasyon süresi ve yumuşaklık */
}

.about {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

h3 {
  text-align: center;
  color:rgb(34, 31, 31);
}

.about p {
  font-size: 14px;
  color: rgb(63, 54, 54);
  margin-block: 24px;
}

.my-pic {
  width: 200px;
  height: 200px;
  margin-inline: auto;
}

.blue-color {
  color: rgb(98, 98, 214);
}

.about a:not(.blue-color) {
  color: rgb(14, 190, 14);
}
/* about area end */

/* certificate area */

.certificate-area {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  margin-bottom: 24px;
}

.certificate-area p {
  font-size: 12px;
  color: rgb(124, 112, 112);
}
.certificate-area h4 {
  text-align: center;
  color: rgb(34, 31, 31);
}

/* project area */

.project-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-area h4 {
  text-align: center;
  color: rgb(34, 31, 31);
}

.project {
 justify-items: center;
 padding-block: 16px;
 background-color: rgb(245, 245, 245);
}
.project img {
  width: 290px;
  border-radius: 8px;

}

.project p {
  text-align: center;
 }

.icon-area img {
  width: 24px;
  height: 24px;
}

.icon {
  height: 24px;
  width: 24px;
}

.flex {
  display: flex;
  justify-content: center;
}

.more-projects a {
  display: block;
  color: rgb(34, 33, 33);
  border-radius: 16px;
  margin-block: 16px;
  text-decoration: underline;
  font-style: italic;
}

/* project area end */

/* troll area */

.troll-area {
  text-align: center;
  margin-block: 72px;
  position: relative;
} 

.troll-area h6 {
  font-size: 18px;
  color:rgb(63, 54, 54);
}

.hearts {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}
.hearts .heart {
  position: absolute;
  list-style: none;
  width: 32px;
  height: 32px;
  margin: 0px;
  opacity: 0; /* İlk başta görünmez */
  animation-fill-mode: forwards;
}

.hearts .heart:after {
  position: absolute;
  content: "?";
  color:rgb(255, 255, 255);
  background-color:#feb22a;
  width:32px;
  height:32px;
  display:inline-block;
  border-radius:100%;
  font-size:30px;
  text-align:center;
  text-decoration:none;
  line-height: 32px;
}

.hearts.flying > .heart:nth-child(even) {
  -webkit-animation: 3.8s flyingEven linear infinite;
  -moz-animation: 2.8s flyingEven linear infinite;
  animation: 2.8s flyingEven linear infinite;
}
.hearts.flying > .heart:nth-child(odd) {
  -webkit-animation: 3.8s flyingOdd linear infinite;
  -moz-animation: 2.8s flyingOdd linear infinite;
  animation: 2.8s flyingOdd linear infinite;
}
.hearts.flying > .heart:nth-child(1) {
  animation-delay: 0.7s;
}
.hearts.flying > .heart:nth-child(2) {
  animation-delay: 0.8s;
}
.hearts.flying > .heart:nth-child(3) {
  animation-delay: 0.6s;
}
.hearts.flying > .heart:nth-child(4) {
  animation-delay: 1.5s;
}
.hearts.flying > .heart:nth-child(5) {
  animation-delay: 2.2s;
}
.hearts.flying > .heart:nth-child(6) {
  animation-delay: 2.9s;
}
.hearts.flying > .heart:nth-child(7) {
  animation-delay: 3.2s;
}
.hearts.flying > .heart:nth-child(8) {
  animation-delay: 3.5s;
}
.hearts.flying > .heart:nth-child(9) {
  animation-delay: 3.8s;
}
.hearts.flying > .heart:nth-child(10) {
  animation-delay: 4.1s;
}
.hearts.flying > .heart:nth-child(11) {
  animation-delay: 4.5s;
}
.hearts.flying > .heart:nth-child(12) {
  animation-delay: 8s;
}
@-moz-keyframes flyingEven {
  0% {
    transform: translate(5px, 10px) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(0px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}
@-webkit-keyframes flyingEven {
  0% {
    transform: translate(5px, 10px) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(0px, -480px) scale(1.5);
    opacity: 0;
    filter: blur(5px);
  }
}
@keyframes flyingEven {
  0% {
    transform: translate(5px, 10px) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(0px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}
@-moz-keyframes flyingOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(-60px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}
@-webkit-keyframes flyingOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(-60px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}
@keyframes flyingOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0; 
    filter: blur(0px);
  }
  20% {
    opacity: 1; 
  }
  100% {
    transform: translate(-60px, -480px) scale(1.5);
    opacity: 0; 
    filter: blur(5px);
  }
}

.troll-area button {
  padding: 8px;
  margin-top: 8px;
}

/* troll area end */

/* footer */

footer {
  margin-block: -16px;
  margin-top: 24px;
  background-color: rgb(34, 32, 32);
  color: white;
  text-align: center;
  padding: 16px;
}

.upper-footer img {
  width: 24px;
  height: 24px;
}

.upper-footer p {
  font-size: 14px;
  color: gray;
}


.mail {
  display: flex;
  gap: 8px;
}

.phone {
  display: flex;
  gap: 8px;
  margin-block: 20px;
}

.upper-footer span {
  color: gray;
  font-size: 16px;
}

.copyrigth {
  font-size: 32px;
}

/* footer end */

.icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}




/* tablet query */

